/*----Estilos paquete individual ----*/
:root {
    --color-primario: #FF2A2A;
    --azul-claro: #0FA2FF;
    --azul-oscuro: #1475B3;
    --amarillo: #FFFC42;
    --rojo-oscuro: #B30B0B;
}

.paqueteBanner{
    width: 100%;
    height: 8vh;
    background-image: url('https://web-bigbox.storage.googleapis.com:443/uploads/category/a0b78e99-15c9-4795-9a4a-449dec855e38.jpg');
    display: flex;
}

.paqueteBanner a {
    margin-left: 2vw;
    color: white;
    font-size: 20px;
    transition: .5s;
}

.paqueteIcono {
    font-size: 30px;
    margin-right: 1vw;
}

.paqueteContainer {
    padding: 2vw;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.tituloPaquete {
    margin-bottom: 1vh;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.746);
}
.descripcionPaquete {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.596);
}

.paqueteImgInfo {
    width: 100%;
    display: flex;
}

.paqueteImg {
    overflow: hidden;
    margin: 3vh 10vw;
    background-image: url('https://fotos.subefotos.com/24cf558a2772607c3c7b77195e26b5c4o.png');
    width: 30vw;
    height: 67vh;
    background-repeat: no-repeat;
    position: relative;
}

.paqueteImgDin {
    width: 21.5vh;
    position: absolute;
    top: 17vh;
    left: 1.5vw;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.541);
}

.paqueteInfo {
    padding: 2vw;
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.paqueteInfo div {
    margin-left: 1vw;
}

.paqueteInfo h4 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.842);
}
.icon {
    font-size: 30px;
    color: grey;
    margin-right: 1vw;
}
.linea {
    width: 80%;
    height: 1vh;
    border-bottom: 1px solid rgba(87, 87, 87, 0.26);
}
.formatodeRegalo {
    display: flex;
    flex-direction: column;
}

.formatodeRegalo h5{
    font-size: 20px;
}

.regaloDigital {
    box-shadow: inset 0 0 8px rgb(0 0 0 / 10%);
    border-radius: 1vw;
    padding: 1vh;
    background-color: rgba(148, 148, 148, 0.157);
    text-align: center;
    width: 10vw;
    margin: 2vh 0 2vh 2vw;
    color: #ff6c5f;
    font-weight: 500;
}
.envioPorEmail {
    font-size: 15px;
    color: grey;
}

.precio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.746);
}
.precio a {
    margin-left: 1vw;
    font-size: 15px;
    color: #ff6c5f;
    cursor: pointer;
}

.comprarPaquete {
    width: 15vw;
    height: 5vh;
    outline: none;
    border: none;
    background-color: #ff6c5f;
    border-radius: 1vh;
    color: white;
    font-size: 15px;
    margin-left: 5rem;
}

.mediosdepago {
    margin-top: 2vh;
    width: 100%;
    height: 6vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://fotos.subefotos.com/cdebe4f6ee622a4687470124d6441a0co.png");
}
.cantidadDePersonas, .categoria, .ubicacion, .vendidos {
    color: rgba(0, 0, 0, 0.63);
    font-weight: 500;
}

.cantidadDePersonas span, .categoria span, .ubicacion span, .vendidos span{
    color: #ff6c5f;
    font-weight: bold;
}

.valoracionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.198);
    width: 80%;
    height: 15vh;
    border-radius: 1vh;
    margin: 5vh auto;
    background-color: rgba(0, 0, 0, 0.068);
}
.valoracion {
    display: flex;
    align-items: center;
}
.valoracion span {
    margin-left: 1vw;
    color:var(--amarillo);
    font-size: 50px;
    font-weight: 500;
}

.valoracionContainer img {
    width: 15vw;
    margin-right: 1vw;
}
